[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body, .header {
  background: #F2F2F2;
}

.add-product input, .add-product textarea {
  background: #F2F2F2;
}

.registration input, .login input {
  background: #F2F2F2;
}

.main input, .main select, .main .close {
  background: #F2F2F2;
}

.logo {
  height: 75px;
  width: auto;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 84vh;
}

.main, .login, .registration, .add-product {
  margin-top: 100px;
  min-height: 76vmin;
}

.heart .fas {
  color: green;
}

.login input, .login select, .login button {
  font-size: 12px !important;
  height: 50px !important;
}

.registration input, .registration select, .registration button {
  font-size: 12px !important;
  height: 50px !important;
}

.add-product input, .add-product select, .add-product button {
  font-size: 12px !important;
  height: 50px !important;
}

#Photo, #Flag {
  padding: 20px;
}

i {
  font-size: 24px;
}

fieldset {
  margin-top: 5px;
}

.login .row div, .registration .row div, .add-product .row, .main .bg-light {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.login .link, .registration .link, textarea {
  font-size: 12px !important;
}

.search input {
  height: 38px;
}

.heart {
  width: 35px;
  height: 35px;
  background: white;
  position: absolute;
  right: 15px;
  top: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
.heart .far.fa-heart, .heart .fas.fa-heart {
  float: right;
  font-size: 24px;
}

.active {
  color: green;
}

label {
  margin-right: 10px;
}

.rating-active {
  color: orange !important;
}

.fab, .far, .fas {
  cursor: pointer;
}

.header-color {
  background: #07024f;
}
.header-color .fa-heart, .header-color .login {
  color: white;
}

.mobile-header {
  background: #07024f;
  height: 80px;
}

.login .link a, .registration .link a {
  text-decoration: none;
  color: green;
  font-size: 12px;
}

.close {
  text-decoration: none;
  font-size: 20px;
}

.add-product {
  position: relative;
}

.close .clear-filters {
  font-size: 15px !important;
}

.close-comp-add-prod {
  position: absolute;
  top: 0;
  right: 25px;
}

.scale {
  overflow: hidden;
  height: 225px;
}

.modal .scale {
  height: 300px;
}

.scale img {
  transition: 1s;
  display: block;
  object-fit: cover;
  height: 100%;
}

.cart-item {
  position: relative;
}
.cart-item .bg-light {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.removeCartItem {
  position: absolute;
  top: 15px;
  right: 0;
}

.flag {
  width: 25px;
  height: auto;
  border-radius: 0;
}

.scale img:hover {
  transform: scale(1.2);
}

fieldset b, .remember-password {
  font-size: 12px !important;
}

.remember-pass {
  text-decoration: none;
}

.style-btn-search {
  background: #3E3961;
  color: white;
}

.footer {
  color: grey;
  font-size: 12px;
}

/*burger */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.mydiv {
  width: 300px;
  height: 200px;
  background-color: gray;
}

.target {
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: transform 0.5s;
  background: #07024f;
}

.updown {
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/*password */
#password-input, #password-input_again {
  width: 100%;
  padding: 5px 0;
  height: 30px;
  line-height: 40px;
  text-indent: 10px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 18px;
}

.password-control {
  position: absolute;
  margin-top: 44px;
  right: 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.position-fieldset {
  position: relative;
}

.form {
  position: relative;
}
.form small {
  position: absolute;
  bottom: 75px;
}

.user {
  position: relative;
}

.exit {
  cursor: pointer;
}

.search label {
  font-size: 12px;
}
.search input {
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heart {
    top: 185px !important;
  }

  .scale {
    overflow: hidden;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heart {
    top: 160px !important;
  }

  .scale {
    overflow: hidden;
    height: 175px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .heart {
    top: 135px !important;
  }

  .scale {
    overflow: hidden;
    height: 150px;
  }

  .main, .add-product {
    margin-top: 100px;
  }

  #mobile-menu {
    z-index: 5;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .main, .add-product {
    margin-top: 100px;
  }

  #mobile-menu {
    z-index: 5;
  }
}
/*style scroll*/
::-webkit-scrollbar {
  /* Let's get this party started */
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* Track */
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: grey;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a4949;
}

/*::-webkit-scrollbar-thumb:window-inactive {*/
/*    background-color: transparent;*/
/*}*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  background: transparent;
}

/*bg*/
::-webkit-scrollbar-track-piece {
  width: 10px;
  height: 10px;
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
